body{
	margin: 0%;
	padding: 0%;
	background-size: cover;
	background-position: top center;
	position: relative;
	background-repeat: no-repeat;
	z-index: 1;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 30px;
}

.fit-icon {
    width: 532px;
    height: 143px;
    padding-top: 15px;
    padding-left: 20px;
}
#mainbox{
	font-size: 24px;
	cursor: pointer;
	transition: all .6s;
}
  .text-home {
	padding-bottom: 20px;
  }
.sidemenu{
	position: absolute;
    top: 0px;
    bottom: 0;
    right: 0px;
    height: 100vh;
    width: 0px;
    background-image: url(Images/side-bar-image.jpg);
    z-index: 99;
    padding-top: 200px;
    overflow-x: hidden;
    transition: all .5s;
}
.sidemenu a{
	padding: 18px 18px ;
	text-decoration: none;
	font-size: 20px;
	color: #999;
	display: block;
	padding-left: 70px;
}
.sidemenu a:hover{
	color: white;
	padding-left: 70px;
	
}
.sidemenu .closebtn{
	position: absolute;
	top: 0px;
	right: 21px;
	font-size: 36px;
	margin-left: 32px;
}	
.icon-bar {
	width: 100%;
	overflow: auto;
  }
.icon-bar a {
	float: left;
	width: 20%;
	text-align: center;
	padding: 12px 0;
	transition: all 0.3s ease;
	color: white;
	font-size: 36px;
}
.icon-bar a:hover {
	background-color: #000;
}
.btn{
	background-color: #333;
}
  .closebtn{
	padding-left: 10px;
  }


  .f1, .f3 {
    width: 20px;
    height: 2px;
	align-content: center;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  .f2 {
    width: 25px;
    height: 2px;
    background-color: white;
	margin: 6px 0;
    transition: 0.4s;
  }
  .dropdown a{
	text-decoration: none;
	font-size: 20px;
	color: #999;
	display: block;

  }
.dropdown{
	text-decoration: none;
	font-size: 2px;
	width: 600px;
	color: red;
	
  }
  .dropdown-content a:hover{
	color: white;	
	padding-left: 120px;
	
}
  .dropdown-container {
	padding-left: 1000px;
	
  }
  .dropdown-btn{
	padding-left: 10px;
	background-color: #333;
	color: #999;
  }

.dropdown-container a:hover{
	color: white;
} 
.dropdown {
	position: relative;
	display: inline-block;
	
  }
  
.dropdown-content {
	display: none;
	padding-right: 1000px;
}
  .dropdown-content .btn1 {
	padding-left: 90px;
	width: 100%;
  }

  .dropdown:hover .dropdown-content {display: block; width: 1000px	; }	

a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container1 {
    min-height: 100vh;
    width: 100%;
    display: flex;
    padding-left: 362px;
    padding-top: 413px;
}


.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	
}

#home {	 
	background-image: url("Images/home-background.jpg");
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
#home::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
#home .home {
	max-width: 1093px;
    margin: 0 auto;
    padding: 0 202px;
    justify-content: flex-start;
}
.img5{
    width: 12%;
    float: left;
    padding-left: -17px;
    margin-left: 120px;
    padding-top: 91px;
    opacity: 0.7;
    z-index: -1;
}
.gallery{
    margin: 106px 100px;
}
.row_1{
	padding-top: 27px;
}
.images{
	position: relative;
    background-color: white;
    width: 68%;
}
.gallery img{
    transition: 1s;
    padding: 15px;
    width: 300px;

}
.gallery img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);  
   
}

#home h1,#about h1,#our_service ,#our_client{
	display: block;
	width: fit-content;
	font-size: 5rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}



#home h1:nth-child(1){
	animation-delay: 1s;
}
#home h1:nth-child(2){
	animation-delay: 2s;
}
#home h1:nth-child(3){
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#home h1 span{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#home h1:nth-child(1){
	animation-delay: 0.5s;
}
#home h1:nth-child(2){
	animation-delay: 1.5s;
}
#home h1:nth-child(3) span{
	animation-delay: 2.5s;
}
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
}
#hero ::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}
#hero .hero {

	position: relative;
	z-index: 1;
	margin: 10 auto;
	padding: 0 50px;
	justify-content: flex-start;
	
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}

#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}
.section,.service .home{
  height: 100vh;
  width: 100%;
  padding: 0;
  overflow: hidden;
  display: flex;
}

.about_us {
	position: relative; 
    height: 100vh;
    width: 100%;
    align-items: center;
	padding-left: 200px;
	padding-top: 107px;
	padding-top: 107px;
	background-color: black;

}

.about_us::before {    
      content: "";
      background-image: url("Images/aboutus_background.jpg");
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
	  opacity: 0.7;
	  background-color: black;
	  width: 100%;
	  
}
.client{
	position: relative; 
    height: 100vh;
    width: 205.6vh;
    align-items: center;
	padding-left: 200px;
	padding-top: 107px;
	padding-top: 107px;
	background-color: black;
}

.client::before {    
      content: "";
      background-image: url("Images/about_background.jpg");
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
	  opacity: 0.7;
	  background-color: black;
	  
}
#about h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#about h1:nth-child(1) {
	animation-delay: 1s;
}
#about h1:nth-child(2) {
	animation-delay: 2s;
}
#about h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#about h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#about h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#abouth1:nth-child(3) span {
	animation-delay: 2.5s;
}



.aboutustext{
	padding-top: 100px;
	padding-right: 100px;
}
.aboutustext .a{
	size: 100px;
	font-family: "Lucida Console", "Courier New", monospace;
}
.our_servicetext{
	padding-top: 100px;
	padding-right: 100px;
}
.our_serviceustext .a{
	size: 100px;
	font-family: "Lucida Console", "Courier New", monospace;
}
.section-container img {
  width: 400px;
  border-radius: 10px;
  border: 2px solid black;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.section-container section h2 {
  font-size: 40px;
  margin: 16px 0;
}

.section-container p {
  padding: 8px 0;
}
.section .service{
	width: 100%;
	height: 100%;

}
.section-container section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
.section-container p {
  padding: 8px 0;
}

 .section-heading1{
	padding-bottom: 20px;
}
.section-heading2{
	padding-bottom: 20px;
}
.a1:link, .a1:visited {
	background-color: red;
	color: white;
	font-size: 16px;
	padding: 18px 28px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
.flip-card-back .cta2{
		display: inline-block;
		padding: 10px 30px;
		color: white;
		background-color: transparent;
		border: 2px solid crimson;
		font-size: 1.1rem;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		margin-top: 30px;
		transition: 0.3s ease;
		
	}
.flip-card-back .cta2:hover {
	color: white;
	background-color: crimson;
	text-decoration: none;
}
.flip-card-container {
	padding-top: 30px;
    height: 400px;
	width: 300px;
	padding-left: 100px;
  }
  
  .flip-card {
	width: 140%;
    height: 140%;
    transition: transform 1s;
    transform-style: preserve-3d;
    
  }
  .flip-card-container:hover .flip-card {
    transform: rotateY(180deg); 
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
	width: 87%;
    height: 46%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .flip-card-front {
    background-color: #333;
    color: #fff;
  }
  .flip-card-back {
    color: #fff;
    transform: rotateY(180deg);
  }
  
  .flip-card-front img {
    width: 100%;
    height: 100%;
 
  }
  .flip-card-back p {
    text-align: center;
    margin: 1rem;
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
  .flip-card-back p span {
    display: block;
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    margin-top: 1.25rem;
  }

  .flip-card-front {
    background-color: #333;
    color: #fff;
  }
  
  .flip-card-front img {
    width: 100%;
    height: 100%;
 
  }

.our_client{
    position: relative; 
    height: 100%;
    width: 90%;
	padding-bottom: 100px;
	padding-left: 20px;
}

.our_service {
	
  width: 100%;
  position: relative;
  padding: 0;
  overflow: hidden;
  display: flex;
}
  .service {
	position: relative; 
    height: 100%;
    width: 100%;
    align-items: center;
	padding-left: 125px;
	padding-top: 100px;
	padding-bottom: 0.11px;
	background-color: black;
}
.service::before {    
      content: "";
      background-image: url("Images/servies_background.jpg");
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
	  opacity: 0.7;
	  
}
.service h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
.service h1:nth-child(1) {
	animation-delay: 1s;
}
.service h1:nth-child(2) {
	animation-delay: 2s;
}
.service h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
.service h1:nth-child(1) span {
	animation-delay: 0.5s;
}
.service h1:nth-child(2) span {
	animation-delay: 1.5s;
}
.service h1:nth-child(3) span {
	animation-delay: 2.5s;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	
}
.cta:hover {
	color: white;
	background-color: crimson;
	text-decoration: none;
}
.our_client {
	position: relative; 
    height: 100vh;
    width: 205.6vh;
    align-items: center;
	padding-left: 200px;
	padding-top: 107px;
	padding-top: 107px;
	background-color: black;
}

.our_client::before {    
      content: "";
      background-image: url("Images/client-background-image.jpg");
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
	  opacity: 0.7;
	  
}
#client h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.4s ease forwards;
	animation-delay: 1s;
}
#client h1:nth-child(1) {
	animation-delay: 1s;
}
#client h1:nth-child(2) {
	animation-delay: 2s;
}
#client h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#client h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#client h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#client:nth-child(3) span {
	animation-delay: 2.5s;
}
.column_1 {
	float: right;
	width: 20%;
	padding-left: 0;

  }
  

  .contact-form input[type="text"],textarea{
	  margin: 2em 0;
	  padding: .7em 2em;
	  font-size: 1.5em;
	  width: 100%;
	  color: white;
	
  }
  textarea{
	  height:110px;
  }
  input.form-control:focus {
	  box-shadow: none;
  }
  .contact-form  input[type="submit"] {
	  background: #ffb900;
	  border: 1px solid #ffb900;
	  padding: .5em 6em;
	
	  text-transform: uppercase;
	  color: cover;
	  font-size: 1.2em;
	  font-family: 'Ropa Sans', sans-serif;
  }
  .contact-form  input[type="submit"]:hover{
	  background:none;

  }
.contact-grids{
	padding-right: 300px;
	padding-top: 100px;
}
.contact-grids2{
	padding-left: 600px;
	padding-bottom: 100px;
}
.maps{
	float: right;
	padding-bottom: 100px;
}
.rightside{
	padding-bottom: 100px;
}

	
  .column1 {
	float: left;
	width: 50%;
	padding: 5px;
  }
  .column2 {
	float: right;
	width: 10%;
	padding: 5px;
  }
.row{
	margin-top: 42px;
	margin-left: -60px;
	margin-right: 20px;
}
.column{
	padding-left: 64px;
}
.row2{
	margin-bottom: 42px;
}
  
  /* Clearfix (clear floats) */

  
  table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
  }
  
  th, td {
	text-align: left;
	padding: 16px;
  }
  
  tr:nth-child(even) {
	background-color: #f2f2f2;
  }
    
.contact_us {
	position: relative; 
    align-items: center;
	padding-left: 200px;
	background-color: black;
	padding-top: 180px;
    padding-bottom: 54px;
}

.contact_us::before {    
      content: "";
      background-image: url("Images/contact_us_background.jpg");
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
	  opacity: 0.7;
	  height: 100%;
   	 width: 100%;
	  
}
#contact h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.4s ease forwards;
	animation-delay: 1s;
}
#contact h1:nth-child(1) {
	animation-delay: 1s;
}
#contact h1:nth-child(2) {
	animation-delay: 2s;
}
#contact h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#contact h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#contact h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#contact:nth-child(3) span {
	animation-delay: 2.5s;
}
input[type=text] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	font-size: 15px;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 3px;
	margin-bottom: 16px;
	resize: vertical;
	background-color: white;
  }
  
  input[type=submit] {
	background-color:red;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  #textarea{
	background-color: white;
  }
  
  input[type=submit]:hover {
	background-color: white;
	color: #000;
  }
  .flip-card-front .text_2 {
	position: absolute;
	text-align: center;
	bottom: 0;
	background: rgb(0, 0, 0);/* Fallback color */
	background: rgba(0, 0, 0, 0.5);/* Black background with opacity */
	color: #ffffff;
	width: 100%;
	height: 100%;
	padding-top: 100px;
  }
.text_2 .text{
	font-size: 1.1em;
}

.btn-light{
	background-color: #f44336;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.fa {
    padding: 15px;
    font-size: 30px;
    /* width: 38px; */
    text-align: center;
    text-decoration: none;
    margin: 26px 33px;
    border-radius: 24%;
}
	.fa:hover {
		opacity: 0.7;
	}
  
  .fa-facebook {
	background: #3B5998;
	color: white;
	width: 52px;
  }
  .fa-instagram {
	background: red;
	color: white;
  }
  .texth1{
	font-size: 0rem;
  }
  .fa-linkedin {
	background: #007bb5;
	color: white;
  }
  .fa-google {
	background: red;
	color: white;
  }
  .icons{
	padding-left: 100px;
  }
  .subject{
	color: #000 	;
  }
  .icon .fa {
	padding: 13px;
    margin: 9px 43px;
}
@media only screen and (max-width: 600px){
	#header{
		background-image: none;
	}
	.fit-icon{
		width: 363px;
      height: 20%;
	}
	.navbar.fixed-top{
		position: fixed;
		padding-bottom: 20px;
	}

	/*=secton-1==*/
	.container1 {
		padding-left: 2em;
		padding-top: 8em;
	}

	/*==about us=*/
	.about_us,.service {
		height: auto;
		width: 100%;
		padding-left: 15px;
		padding-top: 6em;
		padding-bottom: 6em;
	}
	.aboutustext {
		padding-left: 15px;
		padding-top: 40px;
		padding-right: 50px;
	}
	/*=our serives==*/
	.flip-card-container{
		padding-left: 65px;
		width: 317px;
	}
	/*==ourclintes=*/
	#contact h1{
		padding-bottom: 1em;
	}
	.our_client {
		height: 190vh;
		width: 100%;
		padding-left: 100px;
		padding-top: 110px;
		padding-bottom: 2em;
	}
	.our_client .column_1 {
		float: left;
		width: 100%;
		padding-left: 0;
		padding-top: 55px;
	}
	/*===contect us==*/
	.contact_us {
		padding-left: 10px;
		padding-top: 65px;
		padding-bottom: 65px;
	}
	.gform {
		width: 100% !important;
		height: 30%;
		padding: 2em;
	}
	.mapss{
		width: 100% !important;
    padding: 2em;
	padding-left: 59px;
	}
	.icon{
		padding-left: 29px;
	}
	.icon .fa {
		padding: 15px;
		margin: 16px 21px;
	}
	.container1 .text-home{
		font-size: 2px;
	}
	.form-row{
		margin-right: 11px;
    margin-left: 34px;
	}
	.row_1{
		padding-bottom: 20px;
	}
	.images{
		width: 56%;
	}
	
}
@media only screen and (max-width: 466px) {
	.fit-icon {
	  width: 279px;
	  height: 20%;
	}
	}
html body section#about div.about_us.aos-init.aos-animate div.aboutustext div.section-heading4 div.buttonreadmore.aos-init.aos-animate {
	padding-bottom: 80px;
}
html body section#about, html body section#about div.about_us.aos-init.aos-animate {
	height: auto;
}
html body section#client, html body section#client div.our_client.aos-init.aos-animate {
	width: 100%;
}
html body section#service.service {
	height: auto ;
}
@media only screen and (max-width: 1666px) {
	html body section#service.service div.row {
		margin-left: -160px;
	}
}
@media only screen and (max-width: 1476px) {
	html body section#service.service div.row {
		margin-left: -250px;
	}
}
@media only screen and (max-width: 1392px) {
	html body section#service.service div.row {
		margin-left: -200px;
	}
	html body section#service.service div.row div.column {
		padding-left: 0px;
	}
}
@media only screen and (max-width: 1186px) {
	html body section#service.service div.row {
		margin-left: -168px;
	}
	html body section#service.service div.row div.column {
		padding-left: 0px;
		margin-left: -40px;
	}
}
@media only screen and (max-width: 1218px) {
	html body section#service.service div.row {
		margin-left: 0px;
	}
	html body section#service.service div.row, html body section#service.service div.row.row2 {
		flex-direction: column;
	}
	.row2 {
		position: relative;
		left: 400px;
		bottom: 1640px;
	}
	html body section#service.service {
		height: 1790px;
	}
}
@media only screen and (max-width: 905px) {
	html body section#service.service div.row {
		margin-left: -100px;
	}
}
@media only screen and (max-width: 800px) {
	html body section#service.service div.row {
		margin-left: -148px;
	}
}
@media only screen and (max-width: 722px) {

	.row2 {
		position: relative;
		left: 250px;
		bottom: 1640px;
	}
}
@media only screen and (max-width: 602px) {
	html body section#service.service div.row {
		margin-left: 0px;
	}
	html body section#service.service div.row, html body section#service.service div.row.row2 {
		flex-direction: column;
	}
	.row2 {
		position: initial;
	}
	html body section#service.service {
		height: 3525px;
	}
}
@media only screen and (max-width: 600px) {
	html body section#client {
		height: 600px;
	}
}
@media only screen and (max-width: 600px) {
	.our_client .column_1 {
	float: left;
	width: 100px;
	padding-left: 0;
	padding-top: 43px;
	}

}
/*html body section#client div.our_client.aos-init.aos-animate {
	height: 550px;
}*/
@media only screen and (max-width: 424px) {
	html body section#client div.our_client.aos-init.aos-animate {
		height: 700px;
	}
	html body section#client {
		height: 700px;
	}
}
@media only screen and (max-width: 662px) {
	html body nav.navbar.navbar-expand-lg.fixed-top div.nav-icon.ml-auto button#btn.btn {
		position: absolute;
		top: 25px;
		right: 25px;
	}
}
@media only screen and (max-width: 299px) {
	html body section#client div.our_client.aos-init.aos-animate {
		height: 855px;
	}
	html body section#client {
		height: 855px;
	}
}
nav {
	overflow: visible;
}
.fixed-top {
	position: fixed;
	top: 0;
	right: auto;
	left: 0;
	z-index: 1030;
}
@media only screen and (max-width: 392px) {
	nav {
		position: absolute;
	}
}
section {
	overflow: hidden;
}
html body nav.navbar.navbar-expand-lg.fixed-top {
	width: 100%;
}
html body section#service.service {
	max-width: 100%;
}
@media only screen and (max-width: 1080px) {
	html body section#home div.hero.container1 {
		padding-left: 189px;
		padding-top: 295px;
	}
}
@media only screen and (max-width: 600px){
	/*=secton-1==*/
	html body section#home div.hero.container1 {
		padding-left: 2em;
		padding-top: 8em;
	}	
}
@media only screen and (max-width: 424px){
	#home {	 
		background-image: url("https://dummyimage.com/1250x600/000/fff");
	}
}