*{
    margin: 0;
    padding: 0;
    font-family:'poppins',sans-serif;
    box-sizing: border-box;
}
.hero {
	position: relative; 
    height: 100%;
    width: 205.6vh;
	padding-left: 195px;
    padding-top: 233px;
	padding-bottom: 0.11px;
	background-color: black;
}
.hero {	 
	background-image: url("Images/exhibiting_image.jpg");
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
.hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
h1 {
  position: relative;
  color: #ffffff;  
  font-size: 6rem;
  padding-bottom: 173px;

}
.container{
    padding: 10px 10%;

}
.images{
    width: 23%;
    height: 10%;
}
.container{
    width: 100%;
    height: auto;
}
.content{
    background-color: white;
    width: 102%;
    height: auto;   
    border-radius: 10px;
    margin-top: 35px;
}
.content .p-text{
    margin-top: 10px;
    font-size: 16px;
    padding-left: -14px;
    padding-top: 87px;
    opacity: 1;
    font-size: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.gallery{
    margin: 106px -51px;
}
.gallery img{
    transition: 1s;
    padding: 15px;
    width: 300px;

}
.gallery img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);  
   
}
.sidemenu{
	position: absolute;
    top: 0px;
    bottom: 0;
    right: 0px;
    height: 100vh;
    width: 0px;
    background-image: url(Images/side-bar-image.jpg);
    z-index: 99;
    padding-top: 200px;
    overflow-x: hidden;
    transition: all .5s;
}
.sidemenu a{
	padding: 18px 18px ;
	text-decoration: none;
	font-size: 20px;
	color: #999;
	display: block;
	padding-left: 70px;
}
.sidemenu a:hover{
	color: white;
  text-decoration: none;
	padding-left: 70px;
	
}
.sidemenu .closebtn{
	position: absolute;
	top: 0px;
	right: 21px;
	font-size: 36px;
	margin-left: 32px;
}	
.icon-bar {
	width: 100%;
	overflow: auto;
  }
.icon-bar a {
	float: left;
	width: 20%;
	text-align: center;
	padding: 12px 0;
	transition: all 0.3s ease;
	color: white;
	font-size: 36px;
}
.icon-bar a:hover {
	background-color: #000;
}
.btn{
	background-color: #333;
}
.fit-icon {
  width: 19em;
  height: unset;
}
  .closebtn{
	padding-left: 10px;
  }

  .f1, .f3 {
    width: 20px;
    height: 2px;
	align-content: center;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  .f2 {
    width: 25px;
    height: 2px;
    background-color: white;
	margin: 6px 0;
    transition: 0.4s;
  }
  .sidemenu a{
	text-decoration: none;
	font-size: 20px;
	color: #999;
	display: block;

  }
.dropdown{
	text-decoration: none;
	font-size: 2px;
	width: 600px;
	color: red;
	
  }
  .dropdown-content a:hover{
	color: white;	
	padding-left: 120px;
	
}
  .dropdown-container {
	padding-left: 1000px;
	
  }
  .header-text h1{
    color: white;
    font-size: 83px;
  }
  .header-text{
    width: 100%;
  }
  .dropdown-btn{
	padding-left: 10px;
	background-color: #333;
	color: #999;
  }

.dropdown-container a:hover{
	color: white;
} 
.dropdown {
	position: relative;
	display: inline-block;
	
  }
  
.dropdown-content {
	display: none;
	padding-right: 1000px;
}
  .dropdown-content .btn1 {
	padding-left: 90px;
	width: 100%;
  }

  .dropdown:hover .dropdown-content {display: block; width: 1000px	; }	
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    
  }
  .column .img{
    width: 10px;
    height: 10px;
  }
  .row{
    padding-top: 100px;
    
  }
  .progress {
    background: white;
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    display: flex;
    height: 40px;
    width: 500px;
  }
  
  .progress-value {
    animation: load 3s normal forwards;
    border-radius: 10px;
    background:red;
    height: 12px;
    width: 0;
  }
  .column2 .span{
    color: crimson;
    padding-left: 220px;
  }
  .column2 .span2{
    color: crimson;
    padding-left: 318px;
  }
  .why{
    padding-bottom: 15px;
  }
  .company-icon
  {
    padding-left: 1px;
    padding-top: 10px;
  }
  .company-icon img{
    width: 617px;
    height: 180px;
    padding-left: 94px;
  }
  @keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
  }
@media only screen and (max-width: 600px){
	#header{
		background-image: none;
	}
 
  .fit-icon{
    width: 15em;
  height: unset;
}
	.navbar.fixed-top{
		position: fixed;
	}
	.container1 {
		padding-left: 2em;
		padding-top: 40em;
	}
.company-icon img{
  width: 710px;
  height: 150px;
}
.column2 {
  padding-top: 30px;
  padding-left: 150px;
  padding-bottom: 100px;
}

.header-text h1{
  font-size: 29px;
  padding-right: 20px;
}
nav .fas{
  display: block;
  font-size: 25px;
  cursor: pointer;
}
.hero{
  width: 100%;
  height: 50000%;
}
.hero::before{
  width: 100%;
  height: 100%;
}
.progress-value{
  width: 20px;
}
.progress{
  width: 380px;
}
.why .span{
  padding-left: 100px;
}
.why .span2{
  padding-left: 195px;
}
.gallery{
    padding-left: 120px;
}
}
